.calcul_box {
    width: 100%;
    margin-top: 50px;
}

.calcul_box_card {
    border: 2px solid #2B7AFF;
    max-width: 682px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    margin: 0 auto;

}

.calcul_input {
    width: 100%;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: left;
    color: #00539F;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;

}

.calcul_input_text {
    font-family: 'Inter', sans-serif;
    font-size: 15.94px;
    font-weight: 400;
    line-height: 25.5px;
    color: #00539F;
}

.btn_card {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.btn_calcul,
.btn_clear {
    padding: 10px 80px;
    border: none;
    background: #00539F;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16.07px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: center;
    cursor: pointer;
}

.calcul_reply_card {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.reply_text,
.amount {
    font-family: 'Inter', sans-serif;
    font-size: 15.8px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: left;
    color: #00539F;
}